/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #AAB7CF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #788aac;
}

